.c-form-group {
  &__input,
  &__label {
    display: block;
    width: 100%;
  }

  &__label {
    padding-left: 1rem;
  }

  &__input {
    padding: 0.5rem;
  }

  &__error {
    display: none;
    padding-left: 1rem;
    color: $alert-color;
    font-size: $fs-14;
  }

  &--error {
    .c-form-group {
      &__input {
        border: solid 1px $alert-color;
      }

      &__error {
        display: block;
      }
    }
  }
}
